:root {
   // Heading color
   --color-heading-800: #171921;
   --color-heading-100: #ffffff;

   // Background color
   --color-bg-yellow: #ffa928;

   --color-bg-red: #ff5e5e;

   --color-bg-blue-200: #1f3584;
   --color-bg-blue-100: #15b2f5;
   --color-bg-blue: #142257;

   --color-bg-light-200: #e3e6f0;
   --color-bg-light-100: #f3f5f9;
   --color-bg-light: #ffffff;

   // Text color
   --color-txt-500: #545971;
   --color-txt-450: #15b2f5;
   --color-txt-400: #1f3584;
   --color-txt-200: #9ea3b5;
   --color-txt-100: #ffffff;
}
