@font-face {
   font-family: "Plus Jakarta Sans";
   src: url("../fonts/Plus_Jakarta_Sans/PlusJakartaSans-Bold.woff2")
         format("woff2"),
      url("../fonts/Plus_Jakarta_Sans/PlusJakartaSans-Bold.woff") format("woff"),
      url("../fonts/Plus_Jakarta_Sans/PlusJakartaSans-Bold.ttf")
         format("truetype");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Plus Jakarta Sans";
   src: url("../fonts/Plus_Jakarta_Sans/PlusJakartaSans-Medium.woff2")
         format("woff2"),
      url("../fonts/Plus_Jakarta_Sans/PlusJakartaSans-Medium.woff")
         format("woff"),
      url("../fonts/Plus_Jakarta_Sans/PlusJakartaSans-Medium.ttf")
         format("truetype");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Plus Jakarta Sans";
   src: url("../fonts/Plus_Jakarta_Sans/PlusJakartaSans-ExtraBold.woff2")
         format("woff2"),
      url("../fonts/Plus_Jakarta_Sans/PlusJakartaSans-ExtraBold.woff")
         format("woff"),
      url("../fonts/Plus_Jakarta_Sans/PlusJakartaSans-ExtraBold.ttf")
         format("truetype");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Plus Jakarta Sans";
   src: url("../fonts/Plus_Jakarta_Sans/PlusJakartaSans-Regular.woff2")
         format("woff2"),
      url("../fonts/Plus_Jakarta_Sans/PlusJakartaSans-Regular.woff")
         format("woff"),
      url("../fonts/Plus_Jakarta_Sans/PlusJakartaSans-Regular.ttf")
         format("truetype");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Plus Jakarta Sans";
   src: url("../fonts/Plus_Jakarta_Sans/PlusJakartaSans-SemiBold.woff2")
         format("woff2"),
      url("../fonts/Plus_Jakarta_Sans/PlusJakartaSans-SemiBold.woff")
         format("woff"),
      url("../fonts/Plus_Jakarta_Sans/PlusJakartaSans-SemiBold.ttf")
         format("truetype");
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}
